{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
    <div class="container" id="login">
        <div class="row">
            <div class="col-12">
                <div class="wrapper">
                    <div class="login-box bg-white shadow p-3 mb-5 bg-body rounded">
                        <div class="text-center">
                            <h2>Login</h2>
                        </div>
                        {% include 'includes/messages.html' %}
                        <form class="row g-3" action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            <div class="col-md-12 py-2">
                                <label for="inputEmail4" class="form-label">Username</label>
                                <input type="text" class="form-control" id="inputEmail4" value="{{ username }}"
                                       name="username">
                            </div>
                            <div class="col-md-12">
                                <label for="inputPassword" class="form-label">Password</label>
                                <input type="password" class="form-control" id="inputPassword4" value="{{ password }}"
                                       name="password">
                            </div>
                            <div class="col-12 text-center">
                                <input type="submit" class="btn btn-primary" value="Login">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}